body { margin: 0; background: #e0e0e0; font-family: Arial,Helvetica,sans-serif; font-size: 10pt }

a, a:link, a:visited {color: #003471; }
a:hover { color: #448ccb; }
.clearer { clear: both; }

.wrapper {width: 1000px; margin: 0 auto;}

.header {}
.header-top {background: #f0f0f0; padding: 10px; position: relative}
.header-top .logo {float: left;}
.header-top .static-nav {bottom: 10px; right: 10px; position: absolute}

.header-navigation { margin: 0 auto; padding-top: 0px; background: black 0 0 no-repeat; height: 40px; }
ul.navigation-1 { list-style: none; margin: 0; padding: 0; height: 40px; }
ul.navigation-1 li { position: relative; border: 0; float: left; margin: 0; padding: 0; }
ul.navigation-1 li a, ul.navigation-1 li a:link, ul.navigation-1 li a:visited {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10pt;
    color: white;
    display: inline-block;
    height: 30px;
    font-weight: bolder;
    padding-top: 10px;
    border-right: 1px solid #666;
    text-decoration: none;
    text-align: center;
    float: left;
    background: url(images/menu.png) 500px 0 no-repeat;
    padding-left: 10px;
    padding-right: 10px;
}
ul.navigation-1 li a:hover, ul.navigation-1 li a:active { background: #448ccb; color: white;}
ul.navigation-1 li a .expand {font-size: smaller; padding-left: 10px; color: gray}
ul.navigation-1 li a:hover .expand {float: right; color: white}

ul.navigation-1 ul.navigation-2 { position: absolute; left: 0px; top: 40px; border: 0; display: none; margin: 0; padding: 0; list-style: none; }
ul.navigation-1 li:hover ul.navigation-2 { display: block; border: 1px solid gray; border-top: 0; z-index: 100000; }
ul.navigation-1 ul.navigation-2 li { margin: 0; padding: 0; border: 0; clear: left; border: 0; background: black; border-top: 1px dotted gray; }
ul.navigation-2 li a, ul.navigation-2 li a:link, ul.navigation-2 li a:visited { width: 200px; color: white; clear: left; height: 20px; padding: 5px; text-align: left; font-weight: normal; border-right: 0px; padding-left: 10px; padding-right: 10px; }
ul.navigation-2 li a:hover, ul.navigation-2 li a:active {}
ul.navigation-2 li a .expand {float: right; color: gray}
ul.navigation-2 li a:hover .expand {float: right; color: white}

ul.navigation-2 ul.navigation-3 { position: absolute; left: 220px; top: -1px; border: 0; display: none; margin: 0; padding: 0; list-style: none; }
ul.navigation-2 li:hover ul.navigation-3 { display: block; border: 1px solid gray; border-top: 0; z-index: 100001; }
ul.navigation-2 ul.navigation-3 li { margin: 0; padding: 0; border: 0; clear: left; border: 0; background: black; border-top: 1px dotted gray; }
ul.navigation-3 li a, ul.navigation-3 li a:link, ul.navigation-3 li a:visited { width: 200px; color: white; clear: left; height: 20px; padding: 5px; text-align: left; font-weight: normal; border-right: 0px; padding-left: 10px; padding-right: 10px; }
ul.navigation-3 li a:hover, ul.navigation-3 li a:active { }

.middle {}
.content {background: white; padding: 10px;}

.footer { background: #e0e0e0; border-top: 1px solid silver; font-size: smaller; }
.footer-body { width: 1000px; margin: 0 auto; color: gray; text-align: center; padding: 20px 0 30px 0; background: #ebebeb; }
